:root{
    --main-font: sans-serif;
    --font-size: 1em;
    --main-color: #f7df1e;
    --second-color: #222;
    --main-modal-color: rgba(247,222,30,0.85);
    --second-modal-color: rgba(34, 34, 34, 0.85);
    --container-width: 1200px;
}

/* html{
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);
    scroll-behavior: smooth;
}

*,
*:before,
*:after{
    box-sizing: inherit
} */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html{
    scroll-behavior: smooth;
}

h1{
    font-size: 1.5em;
    margin-bottom: 0.7em;
}

h2{
    font-size: 1.3em;
}

h3{
    font-size: 1.2em;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--second-color);
}

body{
    
    overflow-x: hidden; /*el contenido desbordante se oculta y no genera scroll horizontal*/
    font-size: 60%;
}

i{
    font-size: 130%;
}

img{
    border-radius: 10%;
    max-width: 100%;
    height: auto;
}

/*ELEMENTOS CONTENIDOS EN EL ENCABEZADO*/
header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   

}

header .contain{
    display: flex;
}

header .contain div{
    width: calc(50% - 0.5em);
}

header .contain .logo{
    font-size: 2em;
    
    padding-left: 0.3em;
}

header .contain .logo i{
    color: var(--second-color);
}

header .contain .social-media{
    font-size: 1.5em;
    text-align: right;
    padding-top: 0.3em;
}

nav{
    width: 100%;
    background-color: rgb(209, 205, 205);
}

nav ul{
    width: 100%;
    
    list-style: none;
    display: none;
    
}

/* nav ul li a{
    text-decoration: none;
    color: var(--second-color);
    
} */

/*FIN ELEMENTOS CONTENIDOS EN EL ENCABEZADO*/
/* H1 y buscador*/
main section{
    padding-top: 1em;
    text-align: center;
}



/* fin H1 y buscador*/

/*Articles .place | cada establecimiento*/
main section .place{
    margin: auto;
    margin-top: 1em;
    width: 60%;
    /* background-color: #f7df1e; */
}

main section .place div {
    text-align: start;
}

main section .place div button{
   font-size: 1em;
   border-radius: 10%;
   background-color: greenyellow;
   color:var(--second-color);
}

/*FIN Articles .place | cada establecimiento*/

/*Footer*/

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(104, 103, 103);
    color: white;
    padding: 0.5em;
    margin-top: 0.8em;
}

/* footer div{
     width: calc(50% - 0.5em); 
    
   
} */

footer div:first-child{
    width: 60%;
  
    text-align: center;
}

footer div h3{
    margin-bottom: 0.5em;
}

footer div:last-child{
    display: none;
}

footer div:nth-child(2) a{
  color:white;
}

/*FIN Footer*/

/*Medias Querys*/
@media screen and (min-width: 30em){
    body{
        
        font-size: 80%;
    }
    
    main section .place div{
        background-color: #f7df1e;
        text-align: center;

    }

    footer div{
        width: calc(50% - 0.5em);
        
    }

    footer div:first-child{
        width: 50%;
      
    }
}

@media screen and (min-width: 40em){
    body{
        font-size: 90%;
    }
    nav ul{
        display: flex;
        justify-content: space-evenly;
    }

    footer div{
        width: calc(23.3% - 0.4em);
    }

    footer div:last-child{
        display:block;
        
        text-align: end;
    }

    footer div:first-child{
        width: 36.3%;
       
    }

    i{
        font-size: 200%;
    }
}


@media screen and (min-width: 45em){
    body{
        background-color: aqua;
        font-size: 100%;
    }

    main section .search{
        background-color: #f7df1e;
    }

    main section .search input{
        width: 80%;
    }

    main section .place{
        display: flex;
        justify-content: space-around;
        background-color: aliceblue;
        width: 90%;
    }

    main section .place div{
        width: 50%;
        
        text-align: start;

    }

    main section .place img{
      
       width: 40%;
    }

    main section .place div h2{
        margin: 1em 0;
    }

    main section .place div button{
        margin-top: 1em;
    }
   
}